rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /bill-images/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /exports/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
